
// Variables
$light: #fff;
$primary-color: #0984e3;
$danger-color: #e84118;
$black: #222;
$bg-light: #f5f6fa;
$primary-font:'Source Sans Pro', sans-serif;
$icon-font: 'themefisher-font';
$secondary-font: 'Catamaran', sans-serif;